source/Processor/Collection.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Collection">
		<xs:complexType>
			<xs:sequence>
				<xs:choice minOccurs="0" maxOccurs="unbounded">
					<xs:element name="CDef" minOccurs="1" maxOccurs="unbounded">
						<xs:complexType>
							<xs:sequence>
								<xs:choice minOccurs="0" maxOccurs="unbounded">
									<xs:element name="Field"  minOccurs="1" maxOccurs="unbounded">
										<xs:complexType>
											<xs:choice minOccurs="0" maxOccurs="unbounded">
												<xs:element ref="HelpDefault" />
											</xs:choice>
											<xs:attribute name="Name" type="xs:string" />
											<xs:attribute name="Active" type="xs:boolean" use="required" />
											<xs:attribute name="AdminOnly" type="xs:boolean" />
											<xs:attribute name="Authorable" type="xs:boolean" />
											<xs:attribute name="Caption" type="xs:string" />
											<xs:attribute name="DeveloperOnly" type="xs:boolean" />
											<xs:attribute name="EditSortPriority" type="xs:NMTOKEN" />
											<xs:attribute name="FieldType">
												<xs:simpleType>
													<xs:restriction base="xs:NMTOKEN">
														<xs:enumeration value="Boolean" />
														<xs:enumeration value="CSSFile" />
														<xs:enumeration value="Currency" />
														<xs:enumeration value="Date" />
														<xs:enumeration value="File" />
														<xs:enumeration value="Float" />
														<xs:enumeration value="HTML" />
														<xs:enumeration value="HTMLCode" />
														<xs:enumeration value="HTMLCodeFile" />
														<xs:enumeration value="HTMLFile" />
														<xs:enumeration value="Image" />
														<xs:enumeration value="Integer" />
														<xs:enumeration value="JavaScriptFile" />
														<xs:enumeration value="Link" />
														<xs:enumeration value="LongText" />
														<xs:enumeration value="Lookup" />
														<xs:enumeration value="LookupList" />
														<xs:enumeration value="ManyToMany" />
														<xs:enumeration value="MemberSelect" />
														<xs:enumeration value="Redirect" />
														<xs:enumeration value="ResourceLink" />
														<xs:enumeration value="Text" />
														<xs:enumeration value="TextFile" />
														<xs:enumeration value="XMLFile" />
													</xs:restriction>
												</xs:simpleType>
											</xs:attribute>
											<xs:attribute name="HTMLContent" type="xs:boolean" />
											<xs:attribute name="IndexColumn" type="xs:string" />
											<xs:attribute name="IndexSortDirection" type="xs:string" />
											<xs:attribute name="IndexSortOrder" type="xs:string" />
											<xs:attribute name="IndexWidth" type="xs:string" />
											<xs:attribute name="LookupContent" type="xs:string" />
											<xs:attribute name="NotEditable" type="xs:boolean" />
											<xs:attribute name="Password" type="xs:boolean" />
											<xs:attribute name="ReadOnly" type="xs:boolean" />
											<xs:attribute name="RedirectContent" type="xs:string" />
											<xs:attribute name="RedirectPath" type="xs:string" />
											<xs:attribute name="Required" type="xs:boolean" />
											<xs:attribute name="TextBuffered" type="xs:boolean" />
											<xs:attribute name="UniqueName" type="xs:boolean" />
											<xs:attribute name="DefaultValue" type="xs:string" />
											<xs:attribute name="RSSTitle" type="xs:string" />
											<xs:attribute name="RSSDescription" type="xs:string" />
											<xs:attribute name="MemberSelectGroup" type="xs:string" />
											<xs:attribute name="EditTab" type="xs:string" />
											<xs:attribute name="EditGroup" type="xs:string" />
											<xs:attribute name="Scramble" type="xs:boolean" />
											<xs:attribute name="LookupList" type="xs:string" />
											<xs:attribute name="ManyToManyContent" type="xs:string" />
											<xs:attribute name="ManyToManyRuleContent" type="xs:string" />
											<xs:attribute name="ManyToManyRulePrimaryField" type="xs:string" />
											<xs:attribute name="ManyToManyRuleSecondaryField" type="xs:string" use="required" />
											<xs:attribute name="HtmlContent" type="xs:boolean" />
											<xs:attribute name="RedirectId" type="xs:string" />
											<xs:attribute name="RSSTitleField" type="xs:boolean" />
											<xs:attribute name="RSSDescriptionField" type="xs:boolean" />
											<xs:attribute name="EditorAddonId" type="xs:string" />
											<xs:attribute name="MemberSelectGroupID" type="xs:string" />
										</xs:complexType>
									</xs:element>
								</xs:choice>
							</xs:sequence>
							<xs:attribute name="Name" type="xs:string" />
							<xs:attribute name="AddonCategoryId" type="xs:string" />
							<xs:attribute name="ActiveOnly" type="xs:boolean" />
							<xs:attribute name="AdminOnly">
								<xs:simpleType>
									<xs:restriction base="xs:NMTOKEN">
										<xs:enumeration value="0" />
										<xs:enumeration value="1" />
										<xs:enumeration value="true" />
										<xs:enumeration value="false" />
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="AliasID">
								<xs:simpleType>
									<xs:restriction base="xs:NMTOKEN">
										<xs:enumeration value="id" />
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="AliasName">
								<xs:simpleType>
									<xs:restriction base="xs:NMTOKEN">
										<xs:enumeration value="name" />
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="AllowAdd">
								<xs:simpleType>
									<xs:restriction base="xs:NMTOKEN">
										<xs:enumeration value="0" />
										<xs:enumeration value="1" />
										<xs:enumeration value="true" />
										<xs:enumeration value="false" />
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="AllowContentTracking">
								<xs:simpleType>
									<xs:restriction base="xs:NMTOKEN">
										<xs:enumeration value="0" />
										<xs:enumeration value="1" />
										<xs:enumeration value="true" />
										<xs:enumeration value="false" />
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="AllowDelete">
								<xs:simpleType>
									<xs:restriction base="xs:NMTOKEN">
										<xs:enumeration value="0" />
										<xs:enumeration value="1" />
										<xs:enumeration value="true" />
										<xs:enumeration value="false" />
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="AllowTopicRules">
								<xs:simpleType>
									<xs:restriction base="xs:NMTOKEN">
										<xs:enumeration value="0" />
										<xs:enumeration value="1" />
										<xs:enumeration value="true" />
										<xs:enumeration value="false" />
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="AllowWorkflowAuthoring">
								<xs:simpleType>
									<xs:restriction base="xs:NMTOKEN">
										<xs:enumeration value="0" />
										<xs:enumeration value="1" />
										<xs:enumeration value="true" />
										<xs:enumeration value="false" />
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="AuthoringDataSourceName" type="xs:string" />
							<xs:attribute name="AuthoringTableName" type="xs:NMTOKEN" />
							<xs:attribute name="ContentDataSourceName" type="xs:string" />
							<xs:attribute name="ContentTableName" type="xs:NMTOKEN" />
							<xs:attribute name="DefaultSortMethod" type="xs:string" />
							<xs:attribute name="DeveloperOnly">
								<xs:simpleType>
									<xs:restriction base="xs:NMTOKEN">
										<xs:enumeration value="0" />
										<xs:enumeration value="1" />
										<xs:enumeration value="true" />
										<xs:enumeration value="false" />
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="DropDownFieldList" type="xs:string" />
							<xs:attribute name="EditorGroupName" type="xs:string" />
							<xs:attribute name="Parent" type="xs:string" />
							<xs:attribute name="AllowContentChildTool">
								<xs:simpleType>
									<xs:restriction base="xs:NMTOKEN">
										<xs:enumeration value="0" />
										<xs:enumeration value="1" />
										<xs:enumeration value="true" />
										<xs:enumeration value="false" />
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="NavIconType">
								<xs:simpleType>
									<xs:restriction base="xs:NMTOKEN">
										<xs:enumeration value="Content" />
										<xs:enumeration value="Report" />
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="IconLink" type="xs:string" />
							<xs:attribute name="IconWidth" type="xs:string" />
							<xs:attribute name="IconHeight" type="xs:string" />
							<xs:attribute name="IconSprites" type="xs:string" />
							<xs:attribute name="Guid" use="required">
							<xs:simpleType>
								<xs:restriction base ="GUID"/>
							   </xs:simpleType>
							</xs:attribute>
							<xs:attribute name="Active">
								<xs:simpleType>
									<xs:restriction base="xs:NMTOKEN">
										<xs:enumeration value="0" />
										<xs:enumeration value="1" />
										<xs:enumeration value="true" />
										<xs:enumeration value="false" />
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="NavTypeId">
								<xs:simpleType>
									<xs:restriction base="xs:NMTOKEN">
										<xs:enumeration value="Comm" />
										<xs:enumeration value="Content" />
										<xs:enumeration value="Design" />
										<xs:enumeration value="Reports" />
										<xs:enumeration value="Settings" />
										<xs:enumeration value="System" />
										<xs:enumeration value="Tools" />
										<xs:enumeration value="Profile" />
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="AllowCalendarEvents">
								<xs:simpleType>
									<xs:restriction base="xs:NMTOKEN">
										<xs:enumeration value="0" />
										<xs:enumeration value="1" />
										<xs:enumeration value="true" />
										<xs:enumeration value="false" />
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="AllowMetaContent" type="xs:string" />
							<xs:attribute name="isbasecontent" type="xs:string" />
							<xs:attribute name="IgnoreContentControl" type="xs:NMTOKEN" />
							<xs:attribute name="name" type="xs:string" />
							<xs:attribute name="adminonly" type="xs:NMTOKEN" />
							<xs:attribute name="aliasid" type="xs:NMTOKEN" />
							<xs:attribute name="aliasname" type="xs:NMTOKEN" />
							<xs:attribute name="allowadd" type="xs:NMTOKEN" />
							<xs:attribute name="allowcontenttracking" type="xs:NMTOKEN" />
							<xs:attribute name="allowdelete" type="xs:NMTOKEN" />
							<xs:attribute name="allowtopicrules" type="xs:NMTOKEN" />
							<xs:attribute name="allowworkflowauthoring" type="xs:NMTOKEN" />
							<xs:attribute name="authoringdatasourcename" type="xs:NMTOKEN" />
							<xs:attribute name="authoringtablename" type="xs:NMTOKEN" />
							<xs:attribute name="contentdatasourcename" type="xs:NMTOKEN" />
							<xs:attribute name="contenttablename" type="xs:NMTOKEN" />
							<xs:attribute name="defaultsortmethod" type="xs:string" />
							<xs:attribute name="developeronly" type="xs:NMTOKEN" />
							<xs:attribute name="dropdownfieldlist" type="xs:NMTOKEN" />
							<xs:attribute name="editorgroupname" type="xs:string" />
							<xs:attribute name="parent" type="xs:string" />
							<xs:attribute name="allowcontentchildtool" type="xs:NMTOKEN" />
							<xs:attribute name="navicontype" type="xs:NMTOKEN" />
							<xs:attribute name="iconlink" type="xs:string" />
							<xs:attribute name="iconwidth" type="xs:string" />
							<xs:attribute name="iconheight" type="xs:string" />
							<xs:attribute name="iconsprites" type="xs:string" />
						</xs:complexType>
					</xs:element>
					<xs:element name="Addon" minOccurs="1" maxOccurs="unbounded" >
						<xs:complexType>
							<xs:sequence>
								<xs:choice minOccurs="0" maxOccurs="unbounded">
									<xs:element name="Admin" minOccurs="0" maxOccurs="1" type="xs:string" />
									<xs:element name="DotNetClass" minOccurs="0" maxOccurs="1" type="xs:string"  />
									<xs:element minOccurs="0" maxOccurs="1" name="RemoteMethod"  type="xs:string" />
									<xs:element minOccurs="0" maxOccurs="1" name="FormXML" type="xs:string"  />
									<xs:element minOccurs="0" maxOccurs="1" name="ProcessInterval"  type="xs:string" />
									<xs:element minOccurs="0" maxOccurs="unbounded" name="BlockEditTools"  type="xs:string" />
									<xs:element minOccurs="0" maxOccurs="1" name="styleslinkhref"  type="xs:string" />
									<xs:element minOccurs="0" maxOccurs="1" name="Styles"  type="xs:string" />
									<xs:element minOccurs="0" maxOccurs="1" name="StylesLinkPlatform5Href"  type="xs:string" />
									<xs:element minOccurs="0" maxOccurs="1" name="HtmlDocument" type="xs:string"  />
									<xs:element minOccurs="0" maxOccurs="1" name="JavaScriptInHead"  type="xs:string" />
									<xs:element minOccurs="0" maxOccurs="1" name="JavaScriptForceHead" type="xs:boolean"  />
									<xs:element minOccurs="0" maxOccurs="1" name="JSHeadScriptSrc" type="xs:string"  />
									<xs:element minOccurs="0" maxOccurs="1" name="JSHeadScriptPlatform5Src" type="xs:string"  />
									<xs:element minOccurs="0" maxOccurs="1" name="Category" type="xs:string"  />
									<xs:element minOccurs="0" maxOccurs="1" name="Content" type="xs:string"  />
									<xs:element minOccurs="0" maxOccurs="1" name="Template"  type="xs:string" />
									<xs:element minOccurs="0" maxOccurs="1" name="Email"  type="xs:string" />
									<xs:element minOccurs="0" maxOccurs="1" name="ArgumentList"  type="xs:string" />
									<xs:element minOccurs="0" maxOccurs="1" name="IsInline" type="xs:string"  />
									<xs:element minOccurs="0" maxOccurs="1" name="Diagnostic"  type="xs:string" />
									<xs:element minOccurs="0" maxOccurs="1" name="CopyText" type="xs:string" />
									<xs:element minOccurs="0" maxOccurs="1" name="Copy" type="xs:string" />
									<xs:element minOccurs="0" maxOccurs="1" name="instanceSettingPrimaryContentId" type="xs:string" />
									<xs:element minOccurs="0" maxOccurs="1" name="AsAjax" type="xs:boolean" />
									<xs:element minOccurs="0" maxOccurs="1" name="Filter" type="xs:boolean" />
									<xs:element minOccurs="0" maxOccurs="1" name="OnPageEndEvent" type="xs:boolean" />
									<xs:element minOccurs="0" maxOccurs="1" name="OnPageStartEvent" type="xs:boolean" />
									<xs:element minOccurs="0" maxOccurs="1" name="OnBodyStart" type="xs:boolean" />
									<xs:element minOccurs="0" maxOccurs="1" name="OnBodyEnd" type="xs:boolean" />
									<xs:element minOccurs="0" maxOccurs="1" name="ProcessRunOnce" type="xs:boolean" />
									<xs:element minOccurs="0" maxOccurs="1" name="Help" type="xs:string" />
									<xs:element minOccurs="0" maxOccurs="1" name="HelpLink" type="xs:string" />
									<xs:element minOccurs="0" maxOccurs="1" name="MetaDescription" type="xs:string" />
									<xs:element minOccurs="0" maxOccurs="1" name="OtherHeadTags" type="xs:string" />
									<xs:element minOccurs="0" maxOccurs="1" name="PageTitle" type="xs:string" />
									<xs:element minOccurs="0" maxOccurs="1" name="RemoteAssetLink" type="xs:string" />
									<xs:element minOccurs="0" maxOccurs="1" name="Icon">
										<xs:complexType>
											<xs:attribute name="Link" type="xs:string" use="required" />
											<xs:attribute name="width" type="xs:integer" use="required" />
											<xs:attribute name="height" type="xs:integer" use="required" />
											<xs:attribute name="sprites" type="xs:boolean" use="required" />
										</xs:complexType>
									</xs:element>
									<xs:element minOccurs="0" maxOccurs="1" name="InIframe" type="xs:boolean" />
									<xs:element minOccurs="0" maxOccurs="1" name="AliasList" type="xs:string" />
									<xs:element minOccurs="0" maxOccurs="1" name="IncludeAddon">
										<xs:complexType>
											<xs:attribute name="Name" type="xs:string" use="required" />
											<xs:attribute name="Guid" type="xs:string" use="required" />
										</xs:complexType>
									</xs:element>

									<xs:element minOccurs="0" maxOccurs="1" name="Scripting">
										<xs:complexType>
											<xs:attribute name="Language" type="xs:string" use="required" />
											<xs:attribute name="EntryPoint" type="xs:string" use="required" />
											<xs:attribute name="Timeout" type="xs:integer" use="required" />
										</xs:complexType>
									</xs:element>

								</xs:choice>
							</xs:sequence>
							<xs:attribute name="Name" type="xs:string" use="required" />
							<xs:attribute name="Guid" type="xs:string" use="required" />
							<xs:attribute name="Type" use="required">
								<xs:simpleType>
									<xs:restriction base="xs:NMTOKEN">
										<xs:enumeration value="Add-on" />
										<xs:enumeration value="Setting" />
										<xs:enumeration value="System" />
										<xs:enumeration value="Task" />
										<xs:enumeration value="Tool" />
										<xs:enumeration value="Widget" />
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
						</xs:complexType>
					</xs:element>
					<xs:element name="SQLIndex" minOccurs="1" maxOccurs="unbounded"	>
						<xs:complexType>
							<xs:sequence>
								<xs:choice minOccurs="0" maxOccurs="unbounded">

								</xs:choice>
							</xs:sequence>
							<xs:attribute name="IndexName" type="xs:ID" use="required" />
							<xs:attribute fixed="Default" name="DataSourceName" type="xs:NMTOKEN" />
							<xs:attribute name="TableName" type="xs:NMTOKEN" use="required" />
							<xs:attribute name="FieldNameList" type="xs:string" use="required" />
						</xs:complexType>
					</xs:element>
					<xs:element name="NavigatorEntry" minOccurs="1" maxOccurs="unbounded">
						<xs:complexType>
							<xs:sequence>
								<xs:choice minOccurs="0" maxOccurs="unbounded">
	
								</xs:choice>
							</xs:sequence>
							<xs:attribute name="Name" type="xs:string" use="required" />
							<xs:attribute name="NameSpace" type="xs:string" use="required" />
							<xs:attribute name="NavIconTitle" type="xs:string" use="required" />
							<xs:attribute name="NavIconType" use="required">
								<xs:simpleType>
									<xs:restriction base="xs:NMTOKEN">
										<xs:enumeration value="Addon" />
										<xs:enumeration value="Advanced" />
										<xs:enumeration value="Content" />
										<xs:enumeration value="Email" />
										<xs:enumeration value="Folder" />
										<xs:enumeration value="Reports" />
										<xs:enumeration value="Settings" />
										<xs:enumeration value="Tools" />
										<xs:enumeration value="User" />
										<xs:enumeration value="content" />
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="LinkPage" type="xs:string" use="required" />
							<xs:attribute name="ContentName" type="xs:string" use="required" />
							<xs:attribute name="AdminOnly" use="required">
								<xs:simpleType>
									<xs:restriction base="xs:NMTOKEN">
										<xs:enumeration value="0" />
										<xs:enumeration value="1" />
										<xs:enumeration value="true" />
										<xs:enumeration value="false" />
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="DeveloperOnly" use="required">
								<xs:simpleType>
									<xs:restriction base="xs:NMTOKEN">
										<xs:enumeration value="0" />
										<xs:enumeration value="1" />
										<xs:enumeration value="true" />
										<xs:enumeration value="false" />
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="NewWindow" type="xs:string" use="required" />
							<xs:attribute name="Active">
								<xs:simpleType>
									<xs:restriction base="xs:NMTOKEN">
										<xs:enumeration value="0" />
										<xs:enumeration value="1" />
										<xs:enumeration value="true" />
										<xs:enumeration value="false" />
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="AddonGuid" type="xs:string" use="required" />
							<xs:attribute name="Guid" type="xs:string" use="required" />
						</xs:complexType>
					</xs:element>					
					<xs:element name="Data" minOccurs="1" maxOccurs="unbounded">
						<xs:complexType>
							<xs:sequence>
								<xs:choice minOccurs="0" maxOccurs="unbounded">
									<xs:element minOccurs="1" maxOccurs="unbounded" name="Record">
										<xs:complexType>
											<xs:sequence>
												<xs:choice minOccurs="0" maxOccurs="unbounded">
													<xs:element name="field" minOccurs="1" maxOccurs="unbounded">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute name="Name" type="xs:string" use="required"/>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>	
													</xs:element>
												</xs:choice>
											</xs:sequence>
											<xs:attribute name="Content" type="xs:string" use="required" />
											<xs:attribute name="Guid" type="xs:string" use="required" />
											<xs:attribute name="Name" type="xs:string" use="required" />
									</xs:complexType>
									</xs:element>
								</xs:choice>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="ImportCollection">
						<xs:complexType>
							<xs:simpleContent>
								<xs:extension base="xs:string">
									<xs:attribute name="Name" type="xs:string" use="required" />
								</xs:extension>
							</xs:simpleContent>
						</xs:complexType>
					</xs:element>					
					<xs:element name="Resource" minOccurs="1" maxOccurs="unbounded">
						<xs:complexType>
							<xs:attribute name="Name" type="xs:NMTOKEN" use="required" />
							<xs:attribute name="Type" type="xs:NMTOKEN" use="required" />
							<xs:attribute name="Path" type="xs:string" use="required" />
						</xs:complexType>
					</xs:element>					
					<xs:element name="Help" minOccurs="1" maxOccurs="unbounded" type="xs:string" />
					<xs:element name="HelpLink" minOccurs="1" maxOccurs="unbounded" type="xs:string" />
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="Name" type="xs:NMTOKEN" use="required" />
			<xs:attribute name="Guid" type="xs:string" use="required" />
			<xs:attribute name="System" type="xs:boolean" />
			<xs:attribute name="OnInstallAddonGuid" type="xs:string" />
			<xs:attribute name="Updatable" type="xs:boolean" />
			<xs:attribute name="BlockNavigatorNode" type="xs:boolean" />
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="GUID">
		<xs:restriction base="xs:string">
		  <xs:pattern value="([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12})|(\{[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}\})"/>
		</xs:restriction>
	  </xs:simpleType>	<xs:element name="HelpDefault" type="xs:string" />
	<xs:element name="RemoteMethod" type="xs:string" />
	<xs:element name="Category" type="xs:string" />
	<xs:element name="FormXML" type="xs:string" />
	<xs:element name="ProcessInterval" type="xs:string" />
	<xs:element name="BlockEditTools" type="xs:string" />
	<xs:element name="jsheadscriptsrc" type="xs:string" />
	<xs:element name="styleslinkhref" type="xs:string" />
	<xs:element name="Styles" type="xs:string" />
	<xs:element name="IncludeAddon">
		<xs:complexType>
			<xs:attribute name="Name" type="xs:string" use="required" />
			<xs:attribute name="Guid" type="xs:string" use="required" />
		</xs:complexType>
	</xs:element>
	<xs:element name="HtmlDocument" type="xs:string" />
	<xs:element name="JavaScriptInHead" type="xs:string" />
	<xs:element name="JavaScriptForceHead" type="xs:string" />
	<xs:element name="Content" type="xs:string" />
	<xs:element name="Template" type="xs:string" />
	<xs:element name="Email" type="xs:string" />
	<xs:element name="ArgumentList" type="xs:string" />
	<xs:element name="IsInline" type="xs:string" />
	<xs:element name="Diagnostic" type="xs:string" />
	<xs:element name="Record">
		<xs:complexType>
			<xs:all>
				<xs:element name="Field" >
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="Name" use="required">
									<xs:simpleType>
										<xs:restriction base="xs:NMTOKEN">
											<xs:enumeration value="OrderByClause" />
											<xs:enumeration value="Caption" />
											<xs:enumeration value="IconHtml" />
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
			</xs:all>
			<xs:attribute name="Content" type="xs:string" use="required" />
			<xs:attribute name="Guid" type="xs:string" use="required" />
			<xs:attribute name="Name" type="xs:string" use="required" />
		</xs:complexType>
	</xs:element>
</xs:schema>