source/Processor/Collection.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Collection">
		<xs:complexType>
			<xs:sequence>
				<xs:choice minOccurs="0" maxOccurs="unbounded">
					<xs:element name="CDef" minOccurs="1" maxOccurs="unbounded">
						<xs:complexType>
							<xs:sequence>
								<xs:choice minOccurs="0" maxOccurs="unbounded">
									<xs:element name="Field"  minOccurs="1" maxOccurs="unbounded">
										<xs:complexType>
											<xs:choice minOccurs="0" maxOccurs="unbounded">
												<xs:element ref="HelpDefault" />
											</xs:choice>
											<xs:attribute name="active" type="xs:boolean" use="required" />
											<xs:attribute name="adminOnly" type="xs:boolean" />
											<xs:attribute name="authorable" type="xs:boolean" />
											<xs:attribute name="caption" type="xs:string" />
											<xs:attribute name="defaultValue" type="xs:string" />
											<xs:attribute name="developerOnly" type="xs:boolean" />
											<xs:attribute name="editSortPriority" type="xs:integer" />
											<xs:attribute name="editorAddonId" type="xs:string" />
											<xs:attribute name="editTab" type="xs:string" />
											<xs:attribute name="editGroup" type="xs:string" />
											<xs:attribute name="fieldType">
												<xs:simpleType>
													<xs:restriction base="xs:NMTOKEN">
														<xs:enumeration value="boolean" />
														<xs:enumeration value="cssFile" />
														<xs:enumeration value="currency" />
														<xs:enumeration value="date" />
														<xs:enumeration value="file" />
														<xs:enumeration value="float" />
														<xs:enumeration value="html" />
														<xs:enumeration value="htmlCode" />
														<xs:enumeration value="htmlCodeFile" />
														<xs:enumeration value="htmlFile" />
														<xs:enumeration value="image" />
														<xs:enumeration value="integer" />
														<xs:enumeration value="javaScriptFile" />
														<xs:enumeration value="link" />
														<xs:enumeration value="longText" />
														<xs:enumeration value="lookup" />
														<xs:enumeration value="lookupList" />
														<xs:enumeration value="manyToMany" />
														<xs:enumeration value="memberSelect" />
														<xs:enumeration value="redirect" />
														<xs:enumeration value="resourceLink" />
														<xs:enumeration value="text" />
														<xs:enumeration value="textFile" />
														<xs:enumeration value="xmlFile" />
													</xs:restriction>
												</xs:simpleType>
											</xs:attribute>
											<xs:attribute name="htmlContent" type="xs:boolean" />
											<xs:attribute name="indexColumn" type="xs:string" />
											<xs:attribute name="indexSortDirection" type="xs:string" />
											<xs:attribute name="indexSortOrder" type="xs:string" />
											<xs:attribute name="indexWidth" type="xs:string" />
											<xs:attribute name="isBaseField" type="xs:boolean" />
											<xs:attribute name="lookupContent" type="xs:string" />
											<xs:attribute name="lookupList" type="xs:string" />
											<xs:attribute name="manyToManyContent" type="xs:string" />
											<xs:attribute name="manyToManyRuleContent" type="xs:string" />
											<xs:attribute name="manyToManyRulePrimaryField" type="xs:string" />
											<xs:attribute name="manyToManyRuleSecondaryField" type="xs:string" use="required" />
											<xs:attribute name="memberSelectGroup" type="xs:string" />
											<xs:attribute name="memberSelectGroupId" type="xs:string" />
											<xs:attribute name="name" type="xs:string" />
											<xs:attribute name="notEditable" type="xs:boolean" />
											<xs:attribute name="password" type="xs:boolean" />
											<xs:attribute name="readOnly" type="xs:boolean" />
											<xs:attribute name="redirectContent" type="xs:string" />
											<xs:attribute name="redirectPath" type="xs:string" />
											<xs:attribute name="required" type="xs:boolean" />
											<xs:attribute name="redirectId" type="xs:string" />
											<xs:attribute name="rssTitleField" type="xs:boolean" />
											<xs:attribute name="rssDescriptionField" type="xs:boolean" />
											<xs:attribute name="rssTitle" type="xs:string" />
											<xs:attribute name="rssDescription" type="xs:string" />
											<xs:attribute name="scramble" type="xs:boolean" />
											<xs:attribute name="textBuffered" type="xs:boolean" />
											<xs:attribute name="uniqueName" type="xs:boolean" />
										</xs:complexType>
									</xs:element>
								</xs:choice>
							</xs:sequence>
							<xs:attribute name="name" type="xs:string" />
							<xs:attribute name="addonCategoryId" type="xs:string" />
							<xs:attribute name="activeOnly" type="xs:boolean" />
							<xs:attribute name="adminOnly" type="xs:boolean" />
							<xs:attribute name="aliasId" type="xs:string" />
							<xs:attribute name="aliasName" type="xs:string" />
							<xs:attribute name="allowAdd" type="xs:boolean" />
							<xs:attribute name="allowContentChildTool" type="xs:boolean" />
							<xs:attribute name="allowContentTracking" type="xs:boolean" />
							<xs:attribute name="allowDelete" type="xs:boolean" />
							<xs:attribute name="allowTopicRules" type="xs:boolean" />
							<xs:attribute name="allowWorkflowAuthoring" type="xs:boolean" />
							<xs:attribute name="authoringDataSourceName" type="xs:string" />
							<xs:attribute name="authoringTableName" type="xs:string" />
							<xs:attribute name="contentDataSourceName" type="xs:string" />
							<xs:attribute name="contentTableName" type="xs:string" />
							<xs:attribute name="defaultSortMethod" type="xs:string" />
							<xs:attribute name="developerOnly" type="xs:boolean" />
							<xs:attribute name="dropDownFieldList" type="xs:string" />
							<xs:attribute name="editorGroupName" type="xs:string" />
							<xs:attribute name="parent" type="xs:string" />
							<xs:attribute name="navIconType">
								<xs:simpleType>
									<xs:union>
										<xs:simpleType>
											<xs:restriction base='xs:string'>
											<xs:length value="0"/>
											</xs:restriction>
										</xs:simpleType>
										<xs:simpleType>
											<xs:restriction base="xs:NMTOKEN">
												<xs:enumeration value="content" />
												<xs:enumeration value="report" />
												</xs:restriction>											
										</xs:simpleType>										
									</xs:union>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="iconLink" type="xs:string" />
							<xs:attribute name="iconWidth" type="xs:string" />
							<xs:attribute name="iconHeight" type="xs:string" />
							<xs:attribute name="iconSprites" type="xs:string" />
							<xs:attribute name="guid" use="required">
								<xs:simpleType>
									<xs:restriction base ="GUID"/>
							   </xs:simpleType>
							</xs:attribute>
							<xs:attribute name="active" type="xs:boolean" />
							<xs:attribute name="navTypeId">
								<xs:simpleType>
									<xs:union>
										<xs:simpleType>
											<xs:restriction base='xs:string'>
											  <xs:length value="0"/>
											</xs:restriction>
										</xs:simpleType>
										<xs:simpleType>
											<xs:restriction base="xs:NMTOKEN">
												<xs:enumeration value="Comm" />
												<xs:enumeration value="Content" />
												<xs:enumeration value="Design" />
												<xs:enumeration value="Report" />
												<xs:enumeration value="Setting" />
												<xs:enumeration value="System" />
												<xs:enumeration value="Tool" />
												<xs:enumeration value="Profile" />
											</xs:restriction>											
										</xs:simpleType>										
									</xs:union>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="allowCalendarEvents" type="xs:boolean" />
							<xs:attribute name="allowMetaContent" type="xs:string" />
							<xs:attribute name="isBaseContent" type="xs:string" />
							<xs:attribute name="ignoreContentControl" type="xs:boolean" />
						</xs:complexType>
					</xs:element>
					<xs:element name="Addon" minOccurs="1" maxOccurs="unbounded" >
						<xs:complexType>
							<xs:sequence>
								<xs:choice minOccurs="0" maxOccurs="unbounded">
									<xs:element minOccurs="0" maxOccurs="1" name="Admin" type="xs:string" />
									<xs:element minOccurs="0" maxOccurs="1" name="DotNetClass" type="xs:string"  />
									<xs:element minOccurs="0" maxOccurs="1" name="RemoteMethod"  type="xs:boolean" />
									<xs:element minOccurs="0" maxOccurs="1" name="DashboardWidget"  type="xs:boolean" />
									<xs:element minOccurs="0" maxOccurs="1" name="FormXML" type="xs:string"  />
									<xs:element minOccurs="0" maxOccurs="1" name="ProcessInterval"  type="xs:integer" />
									<xs:element minOccurs="0" maxOccurs="1" name="BlockEditTools"  type="xs:boolean" />
									<xs:element minOccurs="0" maxOccurs="1" name="Styleslinkhref"  type="xs:string" />
									<xs:element minOccurs="0" maxOccurs="1" name="Styles"  type="xs:string" />
									<xs:element minOccurs="0" maxOccurs="1" name="StylesLinkPlatform5Href"  type="xs:string" />
									<xs:element minOccurs="0" maxOccurs="1" name="HtmlDocument" type="xs:boolean"  />
									<xs:element minOccurs="0" maxOccurs="1" name="JavaScriptInHead"  type="xs:string" />
									<xs:element minOccurs="0" maxOccurs="1" name="JavaScriptForceHead" type="xs:boolean"  />
									<xs:element minOccurs="0" maxOccurs="1" name="JSHeadScriptSrc" type="xs:string"  />
									<xs:element minOccurs="0" maxOccurs="1" name="JSHeadScriptPlatform5Src" type="xs:string"  />
									<xs:element minOccurs="0" maxOccurs="1" name="Category" type="xs:string"  />
									<xs:element minOccurs="0" maxOccurs="1" name="Content" type="xs:boolean"  />
									<xs:element minOccurs="0" maxOccurs="1" name="Template"  type="xs:boolean" />
									<xs:element minOccurs="0" maxOccurs="1" name="Email"  type="xs:boolean" />
									<xs:element minOccurs="0" maxOccurs="1" name="ArgumentList"  type="xs:string" />
									<xs:element minOccurs="0" maxOccurs="1" name="IsInline" type="xs:boolean"  />
									<xs:element minOccurs="0" maxOccurs="1" name="Diagnostic"  type="xs:boolean" />
									<xs:element minOccurs="0" maxOccurs="1" name="CopyText" type="xs:string" />
									<xs:element minOccurs="0" maxOccurs="1" name="Copy" type="xs:string" />
									<xs:element minOccurs="0" maxOccurs="1" name="InstanceSettingPrimaryContentId" type="xs:string" />
									<xs:element minOccurs="0" maxOccurs="1" name="AsAjax" type="xs:boolean" />
									<xs:element minOccurs="0" maxOccurs="1" name="Filter" type="xs:boolean" />
									<xs:element minOccurs="0" maxOccurs="1" name="OnPageEndEvent" type="xs:boolean" />
									<xs:element minOccurs="0" maxOccurs="1" name="OnPageStartEvent" type="xs:boolean" />
									<xs:element minOccurs="0" maxOccurs="1" name="OnBodyStart" type="xs:boolean" />
									<xs:element minOccurs="0" maxOccurs="1" name="OnBodyEnd" type="xs:boolean" />
									<xs:element minOccurs="0" maxOccurs="1" name="ProcessRunOnce" type="xs:boolean" />
									<xs:element minOccurs="0" maxOccurs="1" name="Help" type="xs:string" />
									<xs:element minOccurs="0" maxOccurs="1" name="HelpLink" type="xs:string" />
									<xs:element minOccurs="0" maxOccurs="1" name="MetaDescription" type="xs:string" />
									<xs:element minOccurs="0" maxOccurs="1" name="OtherHeadTags" type="xs:string" />
									<xs:element minOccurs="0" maxOccurs="1" name="PageTitle" type="xs:string" />
									<xs:element minOccurs="0" maxOccurs="1" name="RemoteAssetLink" type="xs:string" />
									<xs:element minOccurs="0" maxOccurs="1" name="Icon">
										<xs:complexType>
											<xs:attribute name="link" type="xs:string" use="required" />
											<xs:attribute name="width" type="xs:integer" use="required" />
											<xs:attribute name="height" type="xs:integer" use="required" />
											<xs:attribute name="sprites" type="xs:boolean" use="required" />
										</xs:complexType>
									</xs:element>
									<xs:element minOccurs="0" maxOccurs="1" name="InIframe" type="xs:boolean" />
									<xs:element minOccurs="0" maxOccurs="1" name="AliasList" type="xs:string" />
									<xs:element minOccurs="0" maxOccurs="unbounded" name="IncludeAddon">
										<xs:complexType>
											<xs:attribute name="name" type="xs:string" use="required" />
											<xs:attribute name="guid" use="required">
												<xs:simpleType>
													<xs:restriction base ="GUID"/>
											   </xs:simpleType>
											</xs:attribute>
										</xs:complexType>
									</xs:element>
									<xs:element minOccurs="0" maxOccurs="1" name="Scripting">
										<xs:complexType>
											<xs:attribute name="language" type="xs:string" use="required" />
											<xs:attribute name="entryPoint" type="xs:string" use="required" />
											<xs:attribute name="timeout" type="xs:integer" use="required" />
										</xs:complexType>
									</xs:element>
								</xs:choice>
							</xs:sequence>
							<xs:attribute name="name" type="xs:string" use="required" />
							<xs:attribute name="guid" use="required">
								<xs:simpleType>
									<xs:restriction base ="GUID"/>
							   </xs:simpleType>
							</xs:attribute>
							<xs:attribute name="type" use="required">
								<xs:simpleType>
									<xs:restriction base="xs:NMTOKEN">
										<xs:enumeration value="add-on" />
										<xs:enumeration value="setting" />
										<xs:enumeration value="system" />
										<xs:enumeration value="task" />
										<xs:enumeration value="tool" />
										<xs:enumeration value="widget" />
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
						</xs:complexType>
					</xs:element>
					<xs:element name="SQLIndex" minOccurs="1" maxOccurs="unbounded"	>
						<xs:complexType>
							<xs:sequence>
								<xs:choice minOccurs="0" maxOccurs="unbounded">

								</xs:choice>
							</xs:sequence>
							<xs:attribute name="indexName" type="xs:ID" use="required" />
							<xs:attribute fixed="Default" name="DataSourceName" type="xs:NMTOKEN" />
							<xs:attribute name="tableName" type="xs:NMTOKEN" use="required" />
							<xs:attribute name="fieldNameList" type="xs:string" use="required" />
						</xs:complexType>
					</xs:element>
					<xs:element name="NavigatorEntry" minOccurs="1" maxOccurs="unbounded">
						<xs:complexType>
							<xs:sequence>
								<xs:choice minOccurs="0" maxOccurs="unbounded">
	
								</xs:choice>
							</xs:sequence>
							<xs:attribute name="name" type="xs:string" use="required" />
							<xs:attribute name="nameSpace" type="xs:string" use="required" />
							<xs:attribute name="navIconTitle" type="xs:string" use="required" />
							<xs:attribute name="navIconType" use="required">
								<xs:simpleType>
									<xs:restriction base="xs:NMTOKEN">
										<xs:enumeration value="addon" />
										<xs:enumeration value="advanced" />
										<xs:enumeration value="content" />
										<xs:enumeration value="email" />
										<xs:enumeration value="folder" />
										<xs:enumeration value="reports" />
										<xs:enumeration value="settings" />
										<xs:enumeration value="tools" />
										<xs:enumeration value="user" />
										<xs:enumeration value="content" />
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="linkPage" type="xs:string" use="required" />
							<xs:attribute name="contentName" type="xs:string" use="required" />
							<xs:attribute name="adminOnly" type="xs:boolean" />
							<xs:attribute name="developerOnly"  type="xs:boolean" />
							<xs:attribute name="newWindow" type="xs:boolean" />
							<xs:attribute name="active" type="xs:boolean" />
							<xs:attribute name="addonGuid" use="required">
								<xs:simpleType>
									<xs:restriction base ="GUID"/>
							   </xs:simpleType>
							</xs:attribute>
							<xs:attribute name="guid" use="required">
								<xs:simpleType>
									<xs:restriction base ="GUID"/>
							   </xs:simpleType>
							</xs:attribute>

						</xs:complexType>
					</xs:element>					
					<xs:element name="Data" minOccurs="1" maxOccurs="unbounded">
						<xs:complexType>
							<xs:sequence>
								<xs:choice minOccurs="0" maxOccurs="unbounded">
									<xs:element minOccurs="1" maxOccurs="unbounded" name="Record">
										<xs:complexType>
											<xs:sequence>
												<xs:choice minOccurs="0" maxOccurs="unbounded">
													<xs:element name="field" minOccurs="1" maxOccurs="unbounded">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute name="name" type="xs:string" use="required"/>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>	
													</xs:element>
												</xs:choice>
											</xs:sequence>
											<xs:attribute name="content" type="xs:string" use="required" />
											<xs:attribute name="guid" use="required" >
												<xs:simpleType>
													<xs:restriction base ="GUID"/>
											   </xs:simpleType>
											</xs:attribute>
											<xs:attribute name="name" type="xs:string" use="required" />
									</xs:complexType>
									</xs:element>
								</xs:choice>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="ImportCollection">
						<xs:complexType>
							<xs:simpleContent>
								<xs:extension base="xs:string">
									<xs:attribute name="name" type="xs:string" use="required" />
								</xs:extension>
							</xs:simpleContent>
						</xs:complexType>
					</xs:element>					
					<xs:element name="Resource" minOccurs="1" maxOccurs="unbounded">
						<xs:complexType>
							<xs:attribute name="name" type="xs:string" use="required" />
							<xs:attribute name="type" type="xs:string" use="required" />
							<xs:attribute name="path" type="xs:string" use="required" />
						</xs:complexType>
					</xs:element>					
					<xs:element name="Help" minOccurs="1" maxOccurs="unbounded" type="xs:string" />
					<xs:element name="HelpLink" minOccurs="1" maxOccurs="unbounded" type="xs:string" />
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required" />
			<xs:attribute name="guid" use="required">
				<xs:simpleType>
					<xs:restriction base ="GUID"/>
			   </xs:simpleType>
			</xs:attribute>
			<xs:attribute name="system" type="xs:boolean" />
			<xs:attribute name="updateable" type="xs:boolean" />
			<xs:attribute name="blockNavigatorNode" type="xs:boolean" />
			<xs:attribute name="onInstallAddonGuid">
				<xs:simpleType>
					<xs:union>
						<xs:simpleType>
							<xs:restriction base='xs:string'>
								<xs:length value="0"/>
							</xs:restriction>
						</xs:simpleType>
						<xs:simpleType>
							<xs:restriction base ="GUID"/>
					   </xs:simpleType>									
					</xs:union>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="GUID">
		<xs:restriction base="xs:string">
		  <xs:pattern value="([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12})|(\{[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}\})"/>
		</xs:restriction>
	  </xs:simpleType>	<xs:element name="HelpDefault" type="xs:string" />
	<xs:element name="RemoteMethod" type="xs:string" />
	<xs:element name="DashboardWidget" type="xs:string" />
	<xs:element name="Category" type="xs:string" />
	<xs:element name="FormXML" type="xs:string" />
	<xs:element name="ProcessInterval" type="xs:string" />
	<xs:element name="BlockEditTools" type="xs:string" />
	<xs:element name="jsheadscriptsrc" type="xs:string" />
	<xs:element name="styleslinkhref" type="xs:string" />
	<xs:element name="Styles" type="xs:string" />
	<xs:element name="IncludeAddon">
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="required" />
			<xs:attribute name="guid" use="required">
				<xs:simpleType>
					<xs:restriction base ="GUID"/>
			   </xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="HtmlDocument" type="xs:string" />
	<xs:element name="JavaScriptInHead" type="xs:string" />
	<xs:element name="JavaScriptForceHead" type="xs:string" />
	<xs:element name="Content" type="xs:string" />
	<xs:element name="Template" type="xs:string" />
	<xs:element name="Email" type="xs:string" />
	<xs:element name="ArgumentList" type="xs:string" />
	<xs:element name="IsInline" type="xs:string" />
	<xs:element name="Diagnostic" type="xs:string" />
	<xs:element name="Record">
		<xs:complexType>
			<xs:all>
				<xs:element name="Field" >
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="name" use="required">
									<xs:simpleType>
										<xs:restriction base="xs:NMTOKEN">
											<xs:enumeration value="orderByClause" />
											<xs:enumeration value="caption" />
											<xs:enumeration value="iconHtml" />
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
			</xs:all>
			<xs:attribute name="content" type="xs:string" use="required" />
			<xs:attribute name="guid" use="required">
				<xs:simpleType>
					<xs:restriction base ="GUID"/>
			   </xs:simpleType>
			</xs:attribute>
			<xs:attribute name="name" type="xs:string" use="required" />
		</xs:complexType>
	</xs:element>
</xs:schema>