xsd/AddonCollection240316.xsd

<xs:schema 
  attributeFormDefault="unqualified" 
  elementFormDefault="qualified" 
  xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Collection">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="CDef" maxOccurs="unbounded" minOccurs="0">
          <xs:annotation>
            <xs:documentation> /deprecated  deprecated </xs:documentation>
          </xs:annotation>
          <xs:complexType mixed="true">
            <xs:sequence>
              <xs:element name="Field" maxOccurs="unbounded" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>
                    Presentation
                    deprecated  
                    deprecated

                    Details

                    Contact

                    Notes

                    Personalize 

                    Permissions 

                    Analytics 

                    Topics 

                    deprecated

                    Images
                    Details  Blocking   Dependencies   Features  Navigation Tab  Blocking Tab  Link Alias Topics Tab  Meta Content  Legacy  deprecated  deprecated  deprecated  deprecated  Details  Code  Content  Dependencies  Events  Features  Form  Javascript  Meta Content  Placement  
                    Presentation 
                    Process  Styles  deprecated  deprecated  depecated  deprecated 
                    Templates required
    
                    deprecated
                    deprecated or not implemented yet 
                    schedule
    
                    tracking
    
                    deprecated
                    deprecated  deprecated  control info 
                </xs:documentation>
                </xs:annotation>
                <xs:complexType mixed="true">
                  <xs:sequence>
                    <xs:element type="xs:string" name="HelpDefault" minOccurs="0"/>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="Name" use="optional"/>
                  <xs:attribute type="xs:string" name="active" use="optional"/>
                  <xs:attribute type="xs:string" name="AdminOnly" use="optional"/>
                  <xs:attribute type="xs:string" name="Authorable" use="optional"/>
                  <xs:attribute type="xs:string" name="Caption" use="optional"/>
                  <xs:attribute type="xs:string" name="DeveloperOnly" use="optional"/>
                  <xs:attribute type="xs:short" name="EditSortPriority" use="optional"/>
                  <xs:attribute type="xs:string" name="FieldType" use="optional"/>
                  <xs:attribute type="xs:string" name="HTMLContent" use="optional"/>
                  <xs:attribute type="xs:string" name="IndexColumn" use="optional"/>
                  <xs:attribute type="xs:string" name="IndexSortDirection" use="optional"/>
                  <xs:attribute type="xs:string" name="IndexSortOrder" use="optional"/>
                  <xs:attribute type="xs:string" name="IndexWidth" use="optional"/>
                  <xs:attribute type="xs:string" name="LookupContent" use="optional"/>
                  <xs:attribute type="xs:string" name="NotEditable" use="optional"/>
                  <xs:attribute type="xs:string" name="Password" use="optional"/>
                  <xs:attribute type="xs:string" name="ReadOnly" use="optional"/>
                  <xs:attribute type="xs:string" name="RedirectContent" use="optional"/>
                  <xs:attribute type="xs:string" name="RedirectID" use="optional"/>
                  <xs:attribute type="xs:string" name="RedirectPath" use="optional"/>
                  <xs:attribute type="xs:string" name="Required" use="optional"/>
                  <xs:attribute type="xs:string" name="TextBuffered" use="optional"/>
                  <xs:attribute type="xs:string" name="UniqueName" use="optional"/>
                  <xs:attribute type="xs:string" name="DefaultValue" use="optional"/>
                  <xs:attribute type="xs:string" name="RSSTitle" use="optional"/>
                  <xs:attribute type="xs:string" name="RSSDescription" use="optional"/>
                  <xs:attribute type="xs:string" name="MemberSelectGroup" use="optional"/>
                  <xs:attribute type="xs:string" name="EditTab" use="optional"/>
                  <xs:attribute type="xs:string" name="Scramble" use="optional"/>
                  <xs:attribute type="xs:string" name="LookupList" use="optional"/>
                  <xs:attribute type="xs:string" name="ManyToManyContent" use="optional"/>
                  <xs:attribute type="xs:string" name="ManyToManyRuleContent" use="optional"/>
                  <xs:attribute type="xs:string" name="ManyToManyRulePrimaryField" use="optional"/>
                  <xs:attribute type="xs:string" name="ManyToManyRuleSecondaryField" use="optional"/>
                  <xs:attribute type="xs:string" name="name" use="optional"/>
                  <xs:attribute type="xs:byte" name="adminonly" use="optional"/>
                  <xs:attribute type="xs:byte" name="authorable" use="optional"/>
                  <xs:attribute type="xs:string" name="caption" use="optional"/>
                  <xs:attribute type="xs:byte" name="developeronly" use="optional"/>
                  <xs:attribute type="xs:short" name="editsortpriority" use="optional"/>
                  <xs:attribute type="xs:string" name="fieldtype" use="optional"/>
                  <xs:attribute type="xs:byte" name="htmlcontent" use="optional"/>
                  <xs:attribute type="xs:string" name="indexcolumn" use="optional"/>
                  <xs:attribute type="xs:string" name="indexsortdirection" use="optional"/>
                  <xs:attribute type="xs:string" name="indexsortorder" use="optional"/>
                  <xs:attribute type="xs:byte" name="indexwidth" use="optional"/>
                  <xs:attribute type="xs:string" name="lookupcontent" use="optional"/>
                  <xs:attribute type="xs:byte" name="noteditable" use="optional"/>
                  <xs:attribute type="xs:byte" name="password" use="optional"/>
                  <xs:attribute type="xs:byte" name="readonly" use="optional"/>
                  <xs:attribute type="xs:string" name="redirectcontent" use="optional"/>
                  <xs:attribute type="xs:string" name="redirectid" use="optional"/>
                  <xs:attribute type="xs:string" name="redirectpath" use="optional"/>
                  <xs:attribute type="xs:byte" name="required" use="optional"/>
                  <xs:attribute type="xs:byte" name="textbuffered" use="optional"/>
                  <xs:attribute type="xs:byte" name="uniquename" use="optional"/>
                  <xs:attribute type="xs:string" name="defaultvalue" use="optional"/>
                  <xs:attribute type="xs:string" name="edittab" use="optional"/>
                  <xs:attribute type="xs:byte" name="scramble" use="optional"/>
                  <xs:attribute type="xs:string" name="lookuplist" use="optional"/>
                  <xs:attribute type="xs:string" name="manytomanycontent" use="optional"/>
                  <xs:attribute type="xs:string" name="manytomanyrulecontent" use="optional"/>
                  <xs:attribute type="xs:string" name="manytomanyruleprimaryfield" use="optional"/>
                  <xs:attribute type="xs:byte" name="RSSTitleField" use="optional"/>
                  <xs:attribute type="xs:byte" name="RSSDescriptionField" use="optional"/>
                  <xs:attribute type="xs:string" name="IsModified" use="optional"/>
                  <xs:attribute type="xs:string" name="editorAddonId" use="optional"/>
                  <xs:attribute type="xs:string" name="IsBaseField" use="optional"/>
                  <xs:attribute type="xs:string" name="MemberSelectGroupID" use="optional"/>
                  <xs:attribute type="xs:byte" name="rsstitlefield" use="optional"/>
                  <xs:attribute type="xs:byte" name="rssdescriptionfield" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="Name" use="optional"/>
            <xs:attribute type="xs:string" name="NavTypeId" use="optional"/>
            <xs:attribute type="xs:string" name="addoncategoryid" use="optional"/>
            <xs:attribute type="xs:byte" name="ActiveOnly" use="optional"/>
            <xs:attribute type="xs:byte" name="AdminOnly" use="optional"/>
            <xs:attribute type="xs:string" name="AliasID" use="optional"/>
            <xs:attribute type="xs:string" name="AliasName" use="optional"/>
            <xs:attribute type="xs:byte" name="AllowAdd" use="optional"/>
            <xs:attribute type="xs:byte" name="AllowContentTracking" use="optional"/>
            <xs:attribute type="xs:byte" name="AllowDelete" use="optional"/>
            <xs:attribute type="xs:byte" name="AllowTopicRules" use="optional"/>
            <xs:attribute type="xs:byte" name="AllowWorkflowAuthoring" use="optional"/>
            <xs:attribute type="xs:string" name="AuthoringDataSourceName" use="optional"/>
            <xs:attribute type="xs:string" name="AuthoringTableName" use="optional"/>
            <xs:attribute type="xs:string" name="ContentDataSourceName" use="optional"/>
            <xs:attribute type="xs:string" name="ContentTableName" use="optional"/>
            <xs:attribute type="xs:string" name="DefaultSortMethod" use="optional"/>
            <xs:attribute type="xs:byte" name="DeveloperOnly" use="optional"/>
            <xs:attribute type="xs:string" name="DropDownFieldList" use="optional"/>
            <xs:attribute type="xs:string" name="EditorGroupName" use="optional"/>
            <xs:attribute type="xs:string" name="Parent" use="optional"/>
            <xs:attribute type="xs:byte" name="AllowContentChildTool" use="optional"/>
            <xs:attribute type="xs:string" name="NavIconType" use="optional"/>
            <xs:attribute type="xs:string" name="IconLink" use="optional"/>
            <xs:attribute type="xs:string" name="IconWidth" use="optional"/>
            <xs:attribute type="xs:string" name="IconHeight" use="optional"/>
            <xs:attribute type="xs:string" name="IconSprites" use="optional"/>
            <xs:attribute type="xs:string" name="guid" use="optional"/>
            <xs:attribute type="xs:byte" name="active" use="optional"/>
            <xs:attribute type="xs:string" name="navtypeid" use="optional"/>
            <xs:attribute type="xs:string" name="NavTypeID" use="optional"/>
            <xs:attribute type="xs:string" name="AddonCategoryId" use="optional"/>
            <xs:attribute type="xs:byte" name="Active" use="optional"/>
            <xs:attribute type="xs:byte" name="AllowCalendarEvents" use="optional"/>
            <xs:attribute type="xs:string" name="AllowMetaContent" use="optional"/>
            <xs:attribute type="xs:string" name="isbasecontent" use="optional"/>
            <xs:attribute type="xs:byte" name="IgnoreContentControl" use="optional"/>
            <xs:attribute type="xs:string" name="name" use="optional"/>
            <xs:attribute type="xs:string" name="aliasid" use="optional"/>
            <xs:attribute type="xs:string" name="aliasname" use="optional"/>
            <xs:attribute type="xs:byte" name="allowadd" use="optional"/>
            <xs:attribute type="xs:byte" name="allowcontenttracking" use="optional"/>
            <xs:attribute type="xs:byte" name="allowdelete" use="optional"/>
            <xs:attribute type="xs:byte" name="allowtopicrules" use="optional"/>
            <xs:attribute type="xs:byte" name="allowworkflowauthoring" use="optional"/>
            <xs:attribute type="xs:string" name="authoringdatasourcename" use="optional"/>
            <xs:attribute type="xs:string" name="authoringtablename" use="optional"/>
            <xs:attribute type="xs:string" name="contentdatasourcename" use="optional"/>
            <xs:attribute type="xs:string" name="contenttablename" use="optional"/>
            <xs:attribute type="xs:string" name="defaultsortmethod" use="optional"/>
            <xs:attribute type="xs:byte" name="developeronly" use="optional"/>
            <xs:attribute type="xs:string" name="dropdownfieldlist" use="optional"/>
            <xs:attribute type="xs:string" name="editorgroupname" use="optional"/>
            <xs:attribute type="xs:string" name="parent" use="optional"/>
            <xs:attribute type="xs:byte" name="allowcontentchildtool" use="optional"/>
            <xs:attribute type="xs:string" name="navicontype" use="optional"/>
            <xs:attribute type="xs:string" name="iconlink" use="optional"/>
            <xs:attribute type="xs:string" name="iconwidth" use="optional"/>
            <xs:attribute type="xs:string" name="iconheight" use="optional"/>
            <xs:attribute type="xs:string" name="iconsprites" use="optional"/>
            <xs:attribute type="xs:byte" name="adminonly" use="optional"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="Addon" maxOccurs="unbounded" minOccurs="0">
          <xs:annotation>
            <xs:documentation>
                Tools    
                settings 
                returns an object with default personlization 
            </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:choice maxOccurs="unbounded" minOccurs="0">
              <xs:element type="xs:string" name="DotNetClass"/>
              <xs:element type="xs:string" name="FormXML"/>
              <xs:element type="xs:string" name="Admin"/>
              <xs:element type="xs:string" name="category"/>
              <xs:element type="xs:string" name="ProcessInterval"/>
              <xs:element type="xs:string" name="admin"/>
              <xs:element type="xs:string" name="BlockEditTools"/>
              <xs:element type="xs:string" name="jsheadscriptsrc"/>
              <xs:element type="xs:string" name="styleslinkhref"/>
              <xs:element type="xs:string" name="Styles"/>
              <xs:element name="IncludeAddon">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="name" use="optional"/>
                      <xs:attribute type="xs:string" name="guid" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="htmlDocument"/>
              <xs:element type="xs:string" name="JavascriptInHead"/>
              <xs:element type="xs:string" name="javascriptforcehead"/>
              <xs:element type="xs:string" name="RemoteMethod"/>
              <xs:element type="xs:string" name="Category"/>
              <xs:element type="xs:string" name="Content"/>
              <xs:element type="xs:string" name="Template"/>
              <xs:element type="xs:string" name="Email"/>
              <xs:element type="xs:string" name="copytext"/>
              <xs:element type="xs:string" name="ArgumentList"/>
              <xs:element type="xs:string" name="htmldocument"/>
              <xs:element type="xs:string" name="IsInline"/>
              <xs:element type="xs:string" name="Diagnostic"/>
              <xs:element type="xs:string" name="CopyText"/>
            </xs:choice>
            <xs:attribute type="xs:string" name="name" use="optional"/>
            <xs:attribute type="xs:string" name="guid" use="optional"/>
            <xs:attribute type="xs:string" name="type" use="optional"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="SQLIndex" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="IndexName" use="optional"/>
                <xs:attribute type="xs:string" name="DataSourceName" use="optional"/>
                <xs:attribute type="xs:string" name="TableName" use="optional"/>
                <xs:attribute type="xs:string" name="FieldNameList" use="optional"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="NavigatorEntry" maxOccurs="unbounded" minOccurs="0">
          <xs:annotation>
            <xs:documentation> Manage Add-ons  Manage Content  Manage Design  Manage Text Messages  Manage Email  Manage Users  Reports  Settings  Tools  removed with active </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="Name" use="optional"/>
                <xs:attribute type="xs:string" name="NameSpace" use="optional"/>
                <xs:attribute type="xs:string" name="NavIconTitle" use="optional"/>
                <xs:attribute type="xs:string" name="NavIconType" use="optional"/>
                <xs:attribute type="xs:string" name="LinkPage" use="optional"/>
                <xs:attribute type="xs:string" name="ContentName" use="optional"/>
                <xs:attribute type="xs:byte" name="AdminOnly" use="optional"/>
                <xs:attribute type="xs:byte" name="DeveloperOnly" use="optional"/>
                <xs:attribute type="xs:string" name="NewWindow" use="optional"/>
                <xs:attribute type="xs:byte" name="active" use="optional"/>
                <xs:attribute type="xs:string" name="AddonGuid" use="optional"/>
                <xs:attribute type="xs:string" name="guid" use="optional"/>
                <xs:attribute type="xs:string" name="name" use="optional"/>
                <xs:attribute type="xs:string" name="namespace" use="optional"/>
                <xs:attribute type="xs:string" name="navicontitle" use="optional"/>
                <xs:attribute type="xs:string" name="navicontype" use="optional"/>
                <xs:attribute type="xs:string" name="linkpage" use="optional"/>
                <xs:attribute type="xs:string" name="contentname" use="optional"/>
                <xs:attribute type="xs:byte" name="adminonly" use="optional"/>
                <xs:attribute type="xs:byte" name="developeronly" use="optional"/>
                <xs:attribute type="xs:byte" name="newwindow" use="optional"/>
                <xs:attribute type="xs:byte" name="Active" use="optional"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="data">
          <xs:annotation>
            <xs:documentation> /removed with active </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="record" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="field">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="name" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="content" use="optional"/>
                  <xs:attribute type="xs:string" name="guid" use="optional"/>
                  <xs:attribute type="xs:string" name="name" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ImportCollection" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="name" use="optional"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="Resource" maxOccurs="unbounded" minOccurs="0">
          <xs:annotation>
            <xs:documentation> blocked until upgrade
  &lt;ImportCollection name="File Manager">{0A080FBC-2814-407F-8F8C-CD06F422789D}&lt;/ImportCollection>
  &lt;ImportCollection name="Site Explorer">{5426E6D5-05A8-4A87-B535-CD0FABA04F29}&lt;/ImportCollection>
   zip of help files for this collection, plus the default.md file that describes the help system </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="name" use="optional"/>
                <xs:attribute type="xs:string" name="type" use="optional"/>
                <xs:attribute type="xs:string" name="path" use="optional"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="name"/>
      <xs:attribute type="xs:string" name="guid"/>
      <xs:attribute type="xs:byte" name="system"/>
      <xs:attribute type="xs:string" name="OnInstallAddonGuid"/>
    </xs:complexType>
  </xs:element>
</xs:schema>